<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <div class="container">
        <div class="forms">
            <div class="form signup">
                <span class="title">Register</span>
                    <form action="http://localhost:2345/user/create" method="POST" id="form1">
                    <div class="input-field">
                        <input type="text" id="uname" name="uname" placeholder="Enter your name" required>
                        <i class="uil uil-user"></i>
                    </div>

                    <div class="input-field">
                        <input type="text" id="umail" name="umail" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                
                    <!-- <div class="input-field">
                        <input type="text" name="phone" placeholder="Enter your mobile number" required>
                    </div>

                    <div>
                        <select name="year" required>
                            <option>Select..</option>
                            {% for y in year %}
                            <option value="{{ y }}">{{ y }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <select name="class" required>
                            <option>Select..</option>
                            {% for c in cla %}
                            <option value="{{ c }}">{{ c }}</option>
                            {% endfor %}
                        </select>
                    </div> -->

                    <!-- <div class="input-field">
                        <input type="text" name="roll" placeholder="Enter your roll number" required>
                    </div> -->
                    <!-- <script type="text/javascript" src="app.js"></script> -->
                    <!-- <a href="/user/create">
                        <div class="input-field button">
                            <input type="submit" value="Register">
                        </div>
                    </a>         -->
                    <button type="submit" form="form1" value="Submit">Submit</button>
                    <!-- <script type="text/javascript" src="app.js"></script> -->
                </form>
            </div>
        </div>
    </div>
    <script type="module" src="app.js"></script>

</body>
</html>